.container{
    height: 50vh;
    width: 65%;
    background-color:rgba(144, 143, 143, 0.2);
    margin: 15vh auto;
    display: flex;
    
}

.image{
    height: inherit;
    width: 50%;
    flex: 1;
}

.text-container{
    height: inherit;
    width: 50%;
    flex: 1;
    position: relative;
    margin-top: 7%;
}

.text{
    font-size: 3vh;
    text-align: center;
    letter-spacing: 2.3px;
}

.btn-container{
    height: 30%;
    width: 80%;
    margin: 5vh auto;
    display: flex;
  
}

.btn{
    flex: 1;
    height: 5.5vh;
    margin: 5px;
    font-size: 1.8vh;
}

@media screen and (max-width:1030px){
    .container{
        width: 75%;
        height: 30vh;
    }
    .btn{
        height: 5vh;
        margin: 5px;
        font-size: 1.3vh;
    }

    .text{
        margin-top: 20px;
        font-size: 2vw;
    }

    
}

@media screen and (max-width:770px){
    .btn{
        height: 6vh;
        margin: 5px;
        font-size: 1.5vh;
    }   

    .container{
        height: 40vh;
    }
   
}

@media screen and (max-width:700px){
    .image{
        display: none;
    }

    .text{
        margin-top: 55px;
        font-size: 2vh;
    }

    .btn-container{
        margin-top: 50px;
    }

    .text-container{
        margin: 30px;
    }
}



@media screen and (max-width:415px){
    .text-container{
        margin: 10px;
    }

    .btn{
        font-size: 1.6vh;
    }

    .container{
        height:45vh
    }
}