body{
 /* display: flex; */
 /* display: inline-block; */
 width:100%;    
 /* position: relative; */
}

.image-container{
    /* flex:1; */
    position: absolute; 
     /* flex-direction: row; */
}
.img{
    height: 40%;
    width: 60%;
}

.text-container{
    flex:1;
    position: absolute;
    /* flex-direction: row; */
    width: 20%;
    margin-left: 68%;
    margin-top: 8%;
}

.text{
    letter-spacing: 2px;
    text-align: center;
    /* line-height: 50px; */
    font-size: 2vw;
    font-weight: bold;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (max-width:640px){
    .img{
        width: 80vw;
    }
    .image-container{
        position: static;
        display: flex;
        justify-content: center;
        
    }
    .text-container{
        position:static;
        width: 50%;
        margin: auto;
    }

    .text{
        font-size: 3vw;
    }
}